
<section
class="laststep">
<mat-card class="col1">
<h3>Personal Information</h3>
<label class="step1">Name : {{ reg.name }}</label> <br />
<br />
<label class="step1">userId : {{ reg.userId }}</label> <br />
<br />
<label class="step1">MobileNo : {{ reg.mobileNo }}</label> <br />
<br />
<label class="step1">Address : {{ reg.address.addressDetails}} {{ reg.address.city}} {{ reg.address.state}} {{ reg.address.country}}</label> <br />
<br />
<label class="step1">Date of Birth : {{ reg.dateofBirth }}</label> <br />
<br />
<label class="step1">Gender : {{ reg.gender }}</label> <br />
<br />
</mat-card>

