.container{
    height:600px;
    width: 1000px;
 }
 .wang{
    display:flex;
 } 
//  .id{
//     height: 300px;
//     width:  500px;
//     position:relative;
//  }
.mat-card-lg-image{
   height:300px;
   width:500px;
}
 mat-icon{
     color:black;
     text-decoration: none;
     float:right;
     padding-left: 1px;
     top:0%;
 }
 .mon{
    padding-left:970px; 
 }
 .day{
    padding-left: 100px;
 }
 h1{
    padding-left: 650px;
 }
.ding button{
   height:40px;
   width:40px;
}
