.container {
   background-image: url("../../../../assets/img/background.jpg");
   background-image: cover;
   background-repeat: no-repeat;
   margin:0px;
   width: 100%;
   height: 780px;
   display: flex;
   padding-top: 170px;
}

.id{
   position: absolute;
   padding-left: 680px;
   margin-top: 335px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;

}
.col{
   padding-left: 10px;
}
.id button{
   background-image: url("../../../../assets/img/3.jpg");
   color:white;
}
.col button{
   background-image: url("../../../../assets/img/3.jpg");
   color: white;
}

.items{
   padding-top: 1px;
   padding-bottom: 8px;
   height: 30%;
}

mat-card-content{
    display:flex;
}

.ring button{
   color: rgba(19, 20, 20, 0.932);
   // background-image: url("../../../../assets/img/3.jpg");
   background-image: cover;
   background-repeat: no-repeat;
   margin-top: 40px;
   margin-left: 7px;
   width: 160px;
   height:50px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
 }
  mat-card{
   height: 250px;
   width: 100%;
   left: 100px;
   background-position: fixed;
   background-image: url("../../../../assets/img/3.jpg");
   background-image: cover;
   background-repeat: no-repeat;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.items2 mat-card-title{
   font-size: 18px;
   position: absolute;
   margin-top:10px;
   margin-left: 200px;
   color: white;
}
.type{
   position: absolute;
   top: 23px;
   left: 30px;
}
.cost{
   color:white;
   font-size: 15px;
   padding-top: 10px;
}
.price{
   float:right;
    position: absolute;
   margin-left: 200px;
   margin-bottom: 1px;
   height: 30%;
}
mat-list mat-list-item{
    color: white;
}
h4{
  padding-bottom: 20px;
  padding-left: 180px;
}
mat-card {
  width: 550px;
  height: 250px;
}