<div class="container">
  <div class="items">
  <mat-card>
   <div class="items2" *ngFor='let p of slotsAvailable' >
             <mat-card-title>{{ p.date }}</mat-card-title>
  <mat-card-content>
         <div class="ring" *ngFor="let r of p.slots">
 
   <button mat-raised-button (click)="slot(p)" [disabled]="r.slotStatus">{{ r.slotNumber }}
     <p class="type">{{ r.slotType }}</p>
     <!-- <p ng-if="r.slotType === 'A' ">9AM-12PM</p>
     <p ng-if="r.slotType === 'B' ">1PM-4PM</p> -->

     <p>{{r.slotType === "A" ? "9AM-12PM" : r.slotType === "B" ? "1PM-4PM" : "4PM-10PM" }} </p>
     <p class="cost">{{ r.cost + "/-"}}</p>
   </button>
  </div>
  </mat-card-content>
  </div>
  </mat-card>
  </div>
  <div mat-card-actions class="id">
  <button mat-raised-button (click)="shop()">CONTINUE</button>
  </div>
  <div class="items3">
   <div class="price">
   <mat-card class="greenlays">
 
      <mat-list>
          <mat-list-item class="one"><h4 align="center">PRICE DETAILS</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Price of Order:₹{{ price }}
          </mat-list-item>
          <mat-list-item>Delivery Charge:₹ {{charge}}
          </mat-list-item>
           <mat-divider></mat-divider>
          <p></p>
          <mat-list-item>Total Amount:₹{{price+charge}}</mat-list-item>
          <div *ngFor='let o of products'>
 
          <p>{{ sum }}</p>
          </div>
        </mat-list>
 
        </mat-card>
        </div>
        </div>