<div class="row" fxLayout.xs="column">
    <div fxLayout="" fxLayoutGap="32px" fxLayoutAlign="flex-start" *ngFor='let q of ontracks'>
        <div fxFlex="20%">
    <mat-card class='product--blue'>
      <mat-card-header>  
          <img mat-card-image src="{{q.imageURL}}" alt="{{q.brand}}">
          <mat-card-title>
              <p>{{q.brand}}</p>
          </mat-card-title>
          <mat-card-actions align="center">
              <button mat-raised-button (click)="buys()">Buy</button>
             <button mat-raised-button (click)="openDialog(q)">Details</button>
                <button mat-raised-button (click)="AddToCart(q)">AddToCart</button>
          </mat-card-actions>
    </mat-card-header> 
  </mat-card>
  </div>
    </div>
  </div>