body{
    padding-top: 10px; 
    width: 99%;
    padding-left: 0%;
    margin-left: 0%;
}  
.carousel-inner[_ngcontent-c4] img[_ngcontent-c4] {
    height: 550px;
    width: 100%;
    padding-top: 100px;
    
}

